ideas/*
project/Minesweeper.depend
project/obj/*
project/bin/Debug/Minesweeper.exe
project/bin/Release/Minesweeper.exe
project/bin/StaticRelease/Minesweeper.exe
project/bin/StaticRelease/COPYRIGHT.txt
lab/*
tools/*
SourceCodeLicense.txt
backups/*
templates/*
